/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 26, ../sass/media.scss */
  .right-nav {
    display: none;
  }

  /* line 29, ../sass/media.scss */
  .temoigne {
    display: none;
  }

  /* line 33, ../sass/media.scss */
  .features p {
    margin-bottom: 10px;
  }
  /* line 36, ../sass/media.scss */
  .features img {
    display: none;
  }

  /* line 40, ../sass/media.scss */
  .second-block {
    margin-top: 20px;
  }
}
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
